.vscode/
yolov5/checkpoints
yolov5/runs
yolov5/wandb

deep_sort_pytorch/deep_sort/deep/checkpoint
deep_sort_pytorch/deep_sort/deep/predicts

deep_sort_pytorch/deep_sort/deep/inference*

inference_tracking/

wandb/

tools/wandb
tools/artifacts

*/inference_reid_models/*